*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

:root {

  /* ### Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* ### Neutral */
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--grey500);
  padding: 0 1.875rem;
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  /* margin: 0 auto; */
}

.intro {
  text-align: center;
  margin: 4em auto;
}

.intro-title--thin {
  font-weight: 200;
}

.intro-title--bold {
  font-weight: 600;
  letter-spacing: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-box {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 3rem hsl(0, 0%, 70%);
  min-width: 15rem;
  max-width: 21.875rem;
  max-height: 15.625rem;
}

.content-box.supervisor {
  border-top: 4px solid;
  border-top-color: var(--cyan);
}
.content-box.team-builder {
  border-top: 4px solid;
  border-top-color: var(--red);
}
.content-box.karma {
  border-top: 4px solid;
  border-top-color: var(--orange);
}
.content-box.calculator {
  border-top: 4px solid;
  border-top-color: var(--blue);
}

.article-image {
  display: flex;
  justify-content: flex-end;
}

.article-image img {
  max-width: clamp(3rem, 5vw, 100%);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1;
}

h3 {
  margin-top: 0;
}

p {
  font-size: clamp(0.9rem, 5vw, 0.9375rem);
}

@media (min-width: 48rem) {
  .intro {
    width: 55%;
  }

  .content .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

}